{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>UTSURA</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>大野裕平</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>東京都八王子市<wbr>中町１２ー８</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>０４２ー６２６ー７００８</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd>
                            <a href="mailto:utsurashop@gmail.com">utsurashop@gmail.com</a>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">ホームページアドレス</label>
                        </dt>
                        <dd>
                            <a href="//utsura.shop/">https://utsura.shop/</a>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">販売価格</label>
                        </dt>
                        <dd>商品毎に掲載</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料、代金引換手数料、銀行振込手数料、コンビニ払い手数料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品の引き渡し時期</label>
                        </dt>
                        <dd>
                            ご注文日当日〜７日間後<wbr>（銀行振込の場合、入金確認日から７日間）</br>
                            ＊ＡＭ１２時までの注文は当日発送
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>クレジットカード決済、代金引換、銀行振込、コンビニ払い</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">支払期限</label>
                        </dt>
                        <dd>
                            <ul>
                                <li>クレジット決済の場合、商品購入月の購入になります。</li>
                                <li>代金引換の場合、商品受け取りの際にお支払いいただくことになります。</li>
                                <li>銀行振込の場合、弊社確認メール配信より７営業日までに、弊社指定の銀行口座へのお振込になります。</li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>
                            商品到着後、７日間以内での返品・交換はお受けいたします。</br>
                            詳細は返品・交換についてご確認ください。</br>
                            <a href="//utsura.shop/guide#guideReturns">返品・交換について</a>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd>商品到着後より７日間以内となります。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
