<div class="ec-role">
    <div class="ec-sectionItemRole">
        <div class="ec-sectionItemRole__wrapper">
            <div class="ec-sectionItemRole__listItemHeading ec-secHeading--tandem">
                <span class="ec-secHeading__en">instagram</span>
                <span class="ec-secHeading__ja">インスタグラム</span>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
