/* カスタマイズ用CSS */
/* header.twig */
.header-banner{
    width: auto;
}

.header-banner a:hover{
    opacity: 0.6;
}

.header-banner a img{
    width: 100%;
}

/* sp__banner.twig */
.sp__banner{
    display: none;
}


.ec-cartRole__totaiTextBottom {
    font-size: 13px;
}

.ec-newItemRole__wrapper {
    margin: auto;
}


/* about.twig */

/* guide.twig */
.guide-pageItem{

}

.guideSideNave{
    display: block;
    position: fixed;
    top: 220px;
    left: 40px;
}

.guideMain{
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    max-width: 740px;
}

.guide-pageItem{
    padding-top: 16px;
}

.guide-pageItem h2{
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-bottom: 1px  solid #ccc;
}

.guide-pageItem h3{
    font-size: 16px;
    font-weight: 700;
    padding-left: 8px;
}

.guide-pageItem span{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.6;
}

.guideItem{
    display: block;
}

.guideItem__Fram {
    display: block;
    padding: 16px 20px;
    background: #F8F8F8;
    margin: 24px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 2.4;
}

/* SP Design */
@media screen and (max-width: 480px) {
    /* header-navi.twig */
    .header-banner{
        display: none;
    }

    /* sp__banner.twig */
    .sp__banner{
        display: block;
        width: auto;
    }

    .sp__banner a img{
        width: 100%;
    }


    /* ロゴ */
    .ec-headerTitle img {
        width: 120px;
        margin-top: 8px;
    }

    .ec-sliderRole-Img {
        width: 335px;
    }

    /* about.twig */
    .aboutLead{
        font-size: 16px;
    }

    .ec-pageImg__sub{
        display: block;
    }

    .ec-pageImg__main{
        width: 95%;
    }

    .ec-about__profile{
        display: block;
    }

    .profile__text{
        width: 100%;
    }

    .profile__text h2{
        padding: 0;
    }

    /* guide.twig */
    .guideSideNave{
        display: none;
    }

    .guideMain{
        width: 100%;
        padding-left: 16px;
    }

    .aboutInfo{
        display: block;
    }

    .aboutInfo__text{
        display: block;
        width: 100%;
    }

    .aboutInfo__text dt{
        width: 100%;
        padding: 0;
    }

    .aboutInfo__text dd{
        width: 100%;
    }

    .aboutOther{
        text-align: left;
    }
}

/* IPad Design */
@media only screen and (max-width: 1024px) {
    /* header-navi.twig */
    .header-banner{
        display: none;
    }

    /* guide.twig */
    .guideSideNave{
        display: none;
    }
}
