/* カスタマイズ用CSS */
.ec-cartRole__totaiTextBottom {
    font-size: 13px;
}

.ec-newItemRole__wrapper {
    margin: auto;
}

/* SP Design */
@media screen and (max-width: 480px) {
    /* ロゴ */
    .ec-headerTitle img {
        width: 120px;
        margin-top: 8px;
    }

    .ec-sliderRole-Img {
        width: 335px;
    }
}

/* IPad Design */
@media only screen and (min-width: 769px) {