/* カスタマイズ用CSS */
    /* トップページ新着商品リスト */
    .ec-newItemRole .ec-newItemRole__list{
        flex-wrap:wrap;
    }
    .ec-newItemRole .ec-newItemRole__list .ec-newItemRole__listItem{
        width:20%;
        margin:0 auto 20px auto;
    }
    .ec-newItemRole .ec-newItemRole__list .ec-newItemRole__listItem a{
        max-width:96%;
        display:block;
    }
    .ec-newItemRole .ec-newItemRole__listItemPrice{
        color:#cc0000;
        font-weight:bold;
        text-align: right;
        font-size:18px;
    }
    @media screen and (max-width:768px){
        
        .ec-newItemRole .ec-newItemRole__list .ec-newItemRole__listItem{
            width:33.3%;
        }
        
    }